# Web app
NEXT_PUBLIC_APP_NAME="Ecole SaaS"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# API (à venir Vague 1)
# DATABASE_URL="postgresql://user:password@localhost:5432/ecole_saas"
# JWT_SECRET="change-me-in-production"
# JWT_EXPIRES_IN="7d"

# Mobile (à venir Vague 2)
# EXPO_PUBLIC_API_URL="http://localhost:4000"
